.content {
  padding: var(--s3);
}

.contents-preview {
  position: relative;
  height: calc(100vh - 156px);
}

.contents-preview.empty {
  display: flex;
  flex-direction: column;
  color: var(--secondary);
}

.contents-preview:not(.empty) .contents__drop-file {
  display: none;
}

.contents__drop-file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--s3);
  border-radius: var(--bRadius1);
  background-color: var(--bg-1);
}

.contents-preview.dragover .drop-here-img {
  animation: blink 0.5s linear alternate infinite;
}

.contents-preview.empty .contents__drop-file::after {
  content: "اضغط لاختيار ملف او قم بسحب الملف إلي هنا";
}

.contents-preview.dragover .contents__drop-file::after {
  content: "افلت الملف هنا";
}
