.content {
  padding: var(--s3);
}

.contents-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 156px);
}

.contents-preview.empty {
  display: flex;
  flex-direction: column;
  color: var(--secondary);
}

.file-dropper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--s2);
  width: 100%;
  height: 100%;
  padding: var(--s3);
  border-radius: var(--bRadius1);
  background-color: var(--bg-1);
  color: var(--secondary);
}

.table:not(:empty) + .file-dropper {
  display: none;
}

.table:empty .file-dropper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.8);
}

.file-dropper.has-files {
  justify-content: flex-start;
  max-height: 50vh;
}

.dragover .drop-here-img {
  animation: blink 0.5s linear alternate infinite;
}

.dragover .form__file {
  height: 100%;
}

.file-dropper.has-files .form__file {
  top: auto;
  bottom: 0;
  height: 95px;
}

.file-dropper::after,
.contents-preview.empty .file-dropper::after {
  content: "اضغط لاختيار الملفات او قم بسحبها إلي هنا";
}

.contents-preview.dragover .file-dropper::after {
  content: "افلت هنا";
}
