.form__body {
  display: flex;
  flex-direction: column;
  gap: var(--s3);
}

.form__file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.form__file:hover + .btn {
  background-color: var(--blueHover);
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: var(--s1);
}

.form__group--wrapper {
  overflow: auto;
  max-height: 250px;
  border-radius: var(--bRadius1);
  background-color: var(--bg-1);
}

.form__group--wrap {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s2);
  padding: var(--s3);
  border-radius: var(--bRadius1);
  background: var(--bg-1);
}

// Checkbox
.form__checkbox {
  display: flex;
  align-items: center;
  gap: var(--s2);
  font-size: var(--fs2);
}

.form__checkbox--inline {
  padding: var(--s2) var(--s3);
  background: var(--bg-2);
  border-radius: 25px;
}

.checkbox__input {
  width: 16px;
  height: 16px;
}

.form__label {
  display: block;
  font-size: var(--fs2);
  color: var(--secondary);
  margin-bottom: var(--s2);
}

.form__select {
  width: 100%;
  padding: var(--s1) var(--s2);
  border: 1px solid var(--borderColor);
  border-radius: var(--bRadius1);
}

.form__error {
  color: var(--red);
  font-size: var(--fs2);
}

.form__error:empty {
  display: none;
}
