@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal-Regular.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
