.flex {
  display: flex;
}

@for $i from 1 through 6 {
  .gap-#{$i} {
    gap: var(--s#{$i});
  }

  .mt-#{$i} {
    margin-top: var(--s#{$i});
  }
  .fs-#{$i} {
    font-size: var(--fs#{$i});
  }
}

.c-blue {
  color: var(--green);
}

.hidden {
  display: none;
}

.icon {
  width: 24px;
  height: 24px;
}

.pos-relative {
  position: relative;
}

.pos-sticky {
  position: sticky;
  top: 25px;
  background: var(--table-head);
  color: #fff;
  z-index: 8;
}

.pos-sticky--x {
  position: sticky;
  top: 25px;
  right: 32.35px;
  background: var(--table-head);
  color: #fff;
}

.text--secondary {
  color: var(--secondary);
  font-size: 14px;
}

.z-100 {
  z-index: 100;
}

.svg {
  width: 24px;
  height: 24px;
}

.flex {
  display: flex;
}

.flex--center {
  justify-content: center;
  align-items: center;
}
